@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
.abajo {
  position: relative;
  margin-top: 24px;
}
.btn-on {
  color: #ffffff;
  background-color: #8EC63F;
  border-color: #739e33;
}
.btn-on:focus,
.btn-on.focus {
  color: #ffffff;
  background-color: #86b63f;
  border-color: #5a7c26;
}
.btn-on:hover {
  color: #ffffff;
  background-color: #86b63f;
  border-color: #5a7c26;
}
.btn-on:active,
.btn-on.active,
.open > .dropdown-toggle.btn-on {
  color: #ffffff;
  background-color: #86b63f;
  border-color: #5a7c26;
}
.btn-on:active:hover,
.btn-on.active:hover,
.open > .dropdown-toggle.btn-on:hover,
.btn-on:active:focus,
.btn-on.active:focus,
.open > .dropdown-toggle.btn-on:focus,
.btn-on:active.focus,
.btn-on.active.focus,
.open > .dropdown-toggle.btn-on.focus {
  color: #ffffff;
  background-color: #86b63f;
  border-color: #5a7c26;
}
.btn-on:active,
.btn-on.active,
.open > .dropdown-toggle.btn-on {
  background-image: none;
}
.btn-on.disabled:hover,
.btn-on[disabled]:hover,
fieldset[disabled] .btn-on:hover,
.btn-on.disabled:focus,
.btn-on[disabled]:focus,
fieldset[disabled] .btn-on:focus,
.btn-on.disabled.focus,
.btn-on[disabled].focus,
fieldset[disabled] .btn-on.focus {
  background-color: #8EC63F;
  border-color: #8EC63F;
}
.btn-off {
  color: #333333;
  background-color: #FBEDB5;
  border-color: #f5d254;
}
.btn-off:focus,
.btn-off.focus {
  color: #333333;
  background-color: #f2de8e;
  border-color: #e4bf3c;
}
.btn-off:hover {
  color: #333333;
  background-color: #f2de8e;
  border-color: #e4bf3c;
}
.btn-off:active,
.btn-off.active,
.open > .dropdown-toggle.btn-off {
  color: #333333;
  background-color: #f2de8e;
  border-color: #e4bf3c;
}
.btn-off:active:hover,
.btn-off.active:hover,
.open > .dropdown-toggle.btn-off:hover,
.btn-off:active:focus,
.btn-off.active:focus,
.open > .dropdown-toggle.btn-off:focus,
.btn-off:active.focus,
.btn-off.active.focus,
.open > .dropdown-toggle.btn-off.focus {
  color: #333333;
  background-color: #f2de8e;
  border-color: #e4bf3c;
}
.btn-off:active,
.btn-off.active,
.open > .dropdown-toggle.btn-off {
  background-image: noffe;
}
.btn-off.disabled:hover,
.btn-off[disabled]:hover,
fieldset[disabled] .btn-off:hover,
.btn-off.disabled:focus,
.btn-off[disabled]:focus,
fieldset[disabled] .btn-off:focus,
.btn-off.disabled.focus,
.btn-off[disabled].focus,
fieldset[disabled] .btn-off.focus {
  background-color: #FBEDB5;
  border-color: #FBEDB5;
}
.oculto {
  visibility: hidden;
  display: none;
}
.activo {
  visibility: visible;
  display: none;
}
body {
  padding-top: 85px;
  font-family: "Open Sans";
}
.navbar-home {
  height: 85px;
  -webkit-box-shadow: 2px 2px 4px #AFAFAF;
          box-shadow: 2px 2px 4px #AFAFAF;
  border: 0;
}
.navbar-home .container,
.navbar-home .row {
  height: 100%;
}
.navbar-home .logo-img {
  position: absolute;
  margin-top: 11px;
}
.navbar-home .header-right {
  height: 100%;
  padding-left: 315px;
  display: table;
}
.navbar-home .header-right .header-row {
  display: table-cell;
  vertical-align: bottom;
}
.navbar-home .navbar-nav > li > a:hover {
  color: #777;
}
.navbar-home .navbar-nav > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #F3D352;
  height: 4px;
  width: 0;
  -webkit-transition: width 500ms, left 500ms;
  transition: width 500ms, left 500ms;
}
.navbar-home .navbar-nav > li > a.active:after {
  width: 100%;
  left: 0%;
  background-color: #DDDDDD;
}
.navbar-home .navbar-nav > li > a:hover:after {
  width: 100%;
  left: 0%;
}
#login-dp {
  min-width: 275px;
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#login-dp h4 {
  font-size: 2.0rem;
  font-weight: 300;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
#login-dp .login-form {
  padding: 5px 33px 15px 33px;
}
#login-dp .login-form .boton-login {
  margin-top: 25px;
  background-color: #8BC34A;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  border-color: #8BC34A;
}
#login-dp .login-form .boton-login:hover {
  background-color: #7CB342;
}
#login-dp .link {
  color: #2D80BF;
  font-size: 1.4rem;
}
#login-dp .link:hover {
  text-decoration: none;
  color: #127df8;
}
#login-dp .foot {
  background-color: #FBEDB5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#login-dp .foot span {
  font-weight: 300;
  font-size: 1.3rem;
}
#login-dp .foot span a {
  color: #2D80BF;
  font-size: 1.4rem;
  font-weight: 600;
}
#login-dp .foot span a:hover {
  text-decoration: none;
  color: #127df8;
}
.button-reg {
  background-color: #8EC63F;
  color: #FFF;
  -webkit-box-shadow: 0px 0px 0px #AFAFAF;
          box-shadow: 0px 0px 0px #AFAFAF;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
}
.button-reg:hover {
  background-color: #8EC63F;
  -webkit-box-shadow: 0px 0px 12px #317421;
          box-shadow: 0px 0px 12px #317421;
  color: #FFF;
}
.nav-custom {
  margin-right: 1px;
}
.cabecera-titulo {
  background-color: #FBEDB5;
}
.cabecera-titulo h2 {
  margin: 28px 5px 28px 120px;
  font-weight: 300;
  color: #72611B;
}
#cuerpo {
  margin-top: 15px;
}
h3 {
  font-weight: 400;
  color: #72611B;
  margin-bottom: 20px;
}
h4 {
  font-weight: 400;
  color: #72611B;
}
.reg-desc {
  margin-bottom: 25px;
}
.reg-desc p {
  margin-left: 25px;
}
.form-custom {
  border-left: #DDD solid 1px;
}
.form-custom-r {
  border-right: #DDD solid 1px;
}
.list-group-card p {
  display: inline-block;
  margin-right: 10px;
}
.list-group-card .list-group-item,
.list-group-card .list-group-item:first-child,
.list-group-card .list-group-item:last-child {
  margin-bottom: 6px;
  border-radius: 10px;
  border-color: #CCC;
}
#footer {
  margin-top: 150px;
  background-color: #8EC63F;
  position: relative;
  bottom: 0;
}
.kids-footer-img {
  position: relative;
  top: -119px;
}
.table thead th {
  text-align: center;
}
.table tbody th {
  font-weight: 400;
  text-align: center;
}
.table tbody th button {
  color: #000;
  font-size: 2.0rem;
}
.tabla-reqs {
  margin-bottom: 40px;
}
.paginacion-meds-ins {
  margin-bottom: 20px;
}
.paginacion-meds-ins button {
  float: right;
}
.paginacion-meds-ins .pagination {
  float: right;
  margin: 0 0 0 10px;
}
.paginacion-meds-ins .pagination > .active > span {
  background-color: #5cb85c;
  border-color: #ddd;
}
.mensage-box {
  border: 1px solid #CCC;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
